<h2><%= I18n.t('labels.index.title') %></h2>

<div class='scroll'>
  <table class='table table-striped'>
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= Label.human_attribute_name(:name) %></th>
        <th scope="col"><%= I18n.t('num_tasks') %></th>
        <th scope="col"><%= Label.human_attribute_name(:created_at) %></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @labels.each do |label| %>
        <tr>
          <td class="label-name"><%= label.name %></td>
          <td class="label-tasks"><%= label.tasks.size %></td>
          <td class="label-created_at"><%= I18n.l(label.created_at) %></td>
          <td class="label-edit"><%= link_to I18n.t('edit'), edit_label_path(label) %></td>
          <td class="label-delete"><%= link_to I18n.t('delete'), label_path(label), method: :delete, data: { confirm: I18n.t('dialog.delete', target: Label.model_name.human) } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @labels %>
