<h1 class='admn-user-headline'><%= t('.title') %></h1>
<%= link_to 'New User', new_admin_user_path, class: 'btn btn-primary float-right new-admin-user mt-2' %> 
<table class="table">
  <thead>
    <tr>
      <th><%= Admin::User.human_attribute_name(:name) %></th>
      <th><%= Admin::User.human_attribute_name(:email) %></th> 
      <th><%= Admin::User.human_attribute_name(:role) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_users.each do |u| %>
      <tr>
        <td><%= u.name %></td>
        <td><%= u.email %></td>
        <td><%= u.human_attribute_enum(:role) %></td>
        <td class="btn-group">
          <%= link_to t('.detail'), u, class: 'btn btn-secondary' %>
          <%= link_to t('.edit'), edit_admin_user_path(u), class: 'btn btn-primary' %>
          <%= link_to t('.delete'), admin_user_path(u), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('.task'), tasks_path, class: 'btn btn-primary' %>
