<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="user_info_nav">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item">
        <span class="navbar-brand"><%= I18n.t('views.navbar.title') %></span>
      </li>
      <li class="nav-item">
        <%= link_to I18n.t('projects.index.title'), projects_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to I18n.t('labels.index.title'), labels_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to I18n.t('users.nav.title'), edit_user_path(@current_user), class: 'nav-link' %>
      </li>
      <% if admin?(@current_user) %>
        <li class="nav-item">
          <%= link_to I18n.t('users.nav.admin'), admin_users_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <span class="navbar-text mr-sm-2"><%= I18n.t('views.navbar.name') %> <%= current_user.account_name %></span>
      <%= link_to 'logout', logout_path, method: :delete, class: 'btn btn-outline-success my-2 my-sm-0' %>
    </form>
  </div>
</nav>
