<div class="container">
  <div>
    <div class="mt-5">
      <h3 class="text-center ">ログイン画面</h3>
    </div>
    <div class="container mt-4">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <%= form_for(:session, url: login_path) do |f| %>
            <div class="form-group row">
              <%= f.label :user_name, class: "col-sm-3 d-flex align-items-center mb-0" %>
              <%= f.text_field :user_name, class: "form-control col-sm-9" %>
            </div>
            <div class="form-group row">
              <%= f.label :password, class: "col-sm-3 d-flex align-items-center mb-0" %>
              <%= f.password_field :password, class: "form-control col-sm-9" %>
            </div>
            <div class="form-group text-right">
              <%= f.submit "ログイン", class: "btn btn-outline-secondary" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
