<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <div style='text-align: right'>
        <%= current_user.name %>
        <%= link_to t('admin_page'), admin_path %>
        <%= link_to t('logout'), logout_path, method: :delete %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
