<% if user.errors.any? %>
  <div class = "alert alert-warning">
    <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with url: admin_users_path, model: @user, local: true do |f| %>
  <%= f.submit "#{type}" %><br><br>
  <!-- テーブルボディ -->
  <table>
    <!-- テーブルヘッダ -->
    <thead>
    <tr>
      <th class="login_id"><%= t('admin.header.login_id') %></th>
      <th class="password"><%= t('admin.header.password') %></th>
      <th class="name"><%= t('admin.header.name') %></th>
      <th class="authority"><%= t('admin.header.authority') %></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="login_id"><%= f.text_field :login_id, placeholder: "入力してください", id: 'login_id' %></td>
      <td class="password"><%= f.text_field :password, placeholder: "入力してください", id: 'password' %></td>
      <td class="name"><%= f.text_field :name, placeholder: "入力してください", id: 'name' %></td>
      <td class="authority"><%= f.select :authority_id, @authority.map{|a| [a.name, a.id]} %></td>
    </tr>
    </tbody>
  </table>
<% end %>
