<% if user.errors.any? %>
  <div class = "alert alert-warning">
    <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [:admin, user], local: true do |f| %>
  <!-- テーブルボディ -->
  <table>
    <!-- テーブルヘッダ -->
    <thead>
    <tr>
      <th class="login_id"><%= I18n.t('admin.users.header.login_id') %></th>
      <th class="password"><%= I18n.t('admin.users.header.password') %></th>
      <th class="name"><%= I18n.t('admin.users.header.name') %></th>
      <th class="authority"><%= I18n.t('admin.users.header.authority') %></th>
    </tr>
    </thead>
    <tbody class="form">
    <tr>
      <td class="login_id"><%= f.text_field :login_id, placeholder: I18n.t('layouts.message.input'), id: 'login_id' %></td>
      <td class="password"><%= f.text_field :password, placeholder: I18n.t('layouts.message.input'), id: 'password' %></td>
      <td class="name"><%= f.text_field :name, placeholder: I18n.t('layouts.message.input'), id: 'name' %></td>
      <td class="authority"><%= f.select :authority_id, authority.map{|a| [a.name, a.id]} %>
      </td>
    </tr>
    </tbody>
  </table>
  <%= f.submit "#{type}" %>
<% end %>
