<div>
  <h2><%= I18n.t('users.index.title') %></h2>
</div>
<%= link_to I18n.t('link.new'),  new_admin_user_path %>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th><%= I18n.t('activerecord.attributes.user.name') %></th>
      <th><%= I18n.t('activerecord.attributes.user.mail_address') %></th>
      <th><%= I18n.t('activerecord.attributes.user.task_count') %></th>
      <th><%= I18n.t('activerecord.attributes.user.role') %></th>
      <th><%= I18n.t('activerecord.attributes.common.created_at') %></th>
      <th><%= I18n.t('link.edit') %></th>
      <th><%= I18n.t('link.delete') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= link_to u.name, admin_user_path(u.id) %></td>
        <td><%= u.mail_address %></td>
        <td><%= u.tasks.size %></td>
        <td><%= u.role_i18n %></td>
        <td><%= l u.created_at %></td>
        <td><%= link_to I18n.t('link.edit'), edit_admin_user_path(u.id), class: 'btn btn-secondary btn-sm' %></td>
        <td><%= link_to I18n.t('link.delete'), admin_user_path(u.id), method: :delete, data: { confirm: I18n.t('confirm.delete') }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
