<div class="container">
  <div class="row mb-2">
    <div class="col">
      <h1><%= I18n.t('labels.index.title') %></h1>
    </div>
    <div class = "col">
      <%= link_to I18n.t('labels.index.new'), new_label_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
<div class="task_table">
  <table class="table table-striped">
    <tr>
      <th><%= I18n.t('labels.index.label') %></th>
      <th><%= I18n.t('labels.index.created_at') %></th>
      <th colspan = 2></th>
    </tr>
    
    <% @labels.each do |label| %>
    <tr>
      <td><span class="badge" style="background:<%= label.color %>; color:#fff"><%= label.text %><span></td>
      <td><%= I18n.l(label.created_at) %></td>
      <td><%= link_to I18n.t('labels.index.update'), edit_label_path(label), class: 'btn btn-secondary' %></td>
      <td><%= link_to I18n.t('labels.index.delete'), label_path(label), method: :delete, data: { confirm: I18n.t('tasks.delete.confirm') },class: 'btn btn-danger' %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class="pagenation">
  <%= paginate @labels %>
</div>
<div class="back">
  <%= link_to I18n.t('labels.back'), projects_path, class: 'btn btn-primary' %>
</div>
