<%= form_with(model: [project, task], local: true) do |form| %>
  <div class="form-group">
    <%= form.hidden_field :project_id, value: @task.project.id %>
  </div>

  <div class="form-group">
    <%= form.label Task.human_attribute_name(:task_name) %>
    <%= form.text_field :task_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label Task.human_attribute_name(:description) %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-row align-items-center mb-2">
    <div class="col-auto">
      <%= form.label Task.human_attribute_name(:priority) %>
      <%= form.select :priority, Task.priorities.map { |k, v| [I18n.t("enums.task.priority.#{k}"), k] }, {}, class: "custom-select" %>
    </div>

    <div class="col-auto">
      <%= form.label Task.human_attribute_name(:status) %>
      <%= form.select :status, Task.statuses.map { |k, v| [I18n.t("enums.task.status.#{k}"), k] }, {}, class: "custom-select" %>
    </div>
  </div>

  <div class="form-row align-items-center mb-2">
    <div class ="col-auto">
      <%= form.label Task.human_attribute_name(:created_at) %>
      <%= form.date_field :started_at, class: 'custom-select' %>
    </div>

    <div class="col-auto">
      <%= form.label Task.human_attribute_name(:finished_at) %>
      <%= form.date_field :finished_at, class: 'custom-select' %>
    </div>
  </div>

  <div class="form-row align-items-center mb-2">
    <div class ="col-auto">
      <%= form.label Task.human_attribute_name(:assignee) %>
      <%= form.collection_select(:assignee_id, @users, :id, :account_name, { selected: current_user.id }, class:'custom-select') %>
    </div>

    <div class="col-auto">
      <%= form.label Task.human_attribute_name(:reporter) %>
      <%= form.collection_select(:reporter_id, @users, :id, :account_name, { selected: current_user.id }, class:'custom-select') %>
    </div>
  </div>

  <div class="row mb-2">
    <div class ="col-auto">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
    <div class="col-auto">
      <%= link_to I18n.t('back'), project_tasks_path, class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
