<%= form_with(model: [project, task], local: true) do |form| %>
  <div class="field">
    <%= form.label :'プロジェクト名' %>
    <%= @task.project.project_name %>
    <%= form.hidden_field :project_id, value: @task.project.id %>
  </div>

  <div class="field">
    <%= form.label :'タスク名' %>
    <%= form.text_field :task_name %>
  </div>

  <div class="field">
    <%= form.label :'説明' %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :'優先順位' %>
    <%= form.select :priority, [ ["低", :low], ["中", :mid], ["高", :high] ] %>
  </div>

  <div class="field">
    <%= form.label :'状態' %>
    <%= form.select :status, [ ["未着手", :todo], ["着手中", :in_progress], ["完了", :done] ] %>
  </div>

  <div class ="field">
    <%= form.label :'開始日付' %>
    <%= form.date_field :started_at %>
  </div>

  <div class ="field">
    <%= form.label :'終了日付' %>
    <%= form.date_field :finished_at %>
  </div>

  <div class ="field">
    <%= form.label :'担当ユーザ' %>
    <%= form.collection_select(:assignee_id, @users, :id, :account_name) %>
  </div>

  <div class ="field">
    <%= form.label :'報告者ユーザ' %>
    <%= form.collection_select(:reporter_id, @users, :id, :account_name) %>
  </div>

  <div class="create">
    <%= form.submit %>
  </div>
<% end %>
