<h1><%= @project.project_name %><%= I18n.t('tasks.index.title') %></h1>
<div class = "top_bar">
  <div class = "create_task">
    <p><%= link_to I18n.t('tasks.index.new'), new_project_task_path %></p>
  </div>
</div>
<%= render partial: 'search_form', locals: {project: @project.id} %>
<div class = "task_table">
  <table>
    <tr>
      <th><%= I18n.t('tasks.index.name') %></th>
      <th><%= I18n.t('tasks.index.priority') %></th>
      <th><%= I18n.t('tasks.index.finished_at') %></th>
      <th colspan = 2></th>
    </tr>
    
    <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.task_name, project_task_path(@project, task) %></td>
      <td><%= task.priority_i18n %></td>
      <td><%= task.finished_at %></td>
      <td><%= link_to I18n.t('tasks.index.update'), edit_project_task_path(@project, task) %></td>
      <td><%= link_to I18n.t('tasks.index.delete'), project_task_path(@project, task), method: :delete, data: { confirm: I18n.t('tasks.delete.confirm') } %></td>
    </tr>
    <% end %>
  </table>
</div>
