<h1><%= @project.project_name %>タスク一覧</h1>
<div class = "top_bar">
  <div class = "create_task">
    <p><%= link_to 'タスク登録', new_task_path(project_id: @project.id) %></p>
  </div>
</div>

<div class = "task_table">
  <table>
    <tr>
      <th>タスク</th>
      <th>優先順位</th>
      <th>期限日</th>
      <th colspan = 2></th>
    </tr>
    
    <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.task_name, task %></td>
      <td><% case task.priority
         when 'low' %>
          <%= '低' %>
        <% when 'mid' %>
          <%= '中' %>
        <% when 'high' %>
          <%= '高' %>
      <% end %></td>
      <td><%= task.finished_at%></td>
      <td><%= link_to '修正', edit_task_path(task) %></td>
      <td><%= link_to '削除', task, method: :delete, data: { confirm: '削除してもよろしいでしょうか?' } %></td>
    </tr>
    <% end %>
  </table>
</div>
