<h1><%= @project.project_name %><%= I18n.t('tasks.index.title') %></h1>
<div class = "top_bar">
  <div class = "create_task">
    <p><%= link_to I18n.t('tasks.index.new'), new_task_path(project_id: @project.id) %></p>
  </div>
</div>

<div class = "task_table">
  <table>
    <tr>
      <th><%= I18n.t('tasks.index.name') %></th>
      <th><%= I18n.t('tasks.index.priority') %></th>
      <th><%= I18n.t('tasks.index.finished_at') %></th>
      <th colspan = 2></th>
    </tr>
    
    <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.task_name, task %></td>
      <td><% case task.priority
         when 'low' %>
          <%= Task.human_attribute_name(:low) %>
        <% when 'mid' %>
          <%= Task.human_attribute_name(:mid) %>
        <% when 'high' %>
          <%= Task.human_attribute_name(:high) %>
      <% end %></td>
      <td><%= task.finished_at%></td>
      <td><%= link_to I18n.t('tasks.index.update'), edit_task_path(task) %></td>
      <td><%= link_to I18n.t('tasks.index.delete'), task, method: :delete, data: { confirm: I18n.t('tasks.delete.confirm') } %></td>
    </tr>
    <% end %>
  </table>
</div>
