<h1><%= I18n.t('tasks.show.title') %></h1>

<p><%= I18n.t('tasks.show.project_name') %> : <%= @task.project.project_name %></p>
<p><%= I18n.t('tasks.show.name') %> : <%= @task.task_name %></p>
<p><%= I18n.t('tasks.show.description') %> : <%= @task.description %></p>
<p><%= I18n.t('tasks.show.priority') %> : <%= @task.priority_i18n  %></p>
<p><%= I18n.t('tasks.show.status') %> : <%= @task.status_i18n  %></p>
<p><%= I18n.t('tasks.show.assignee') %> : <%= @task.assignee.account_name %></p>
<p><%= I18n.t('tasks.show.reporter') %> : <%= @task.reporter.account_name %></p>
<p><%= I18n.t('tasks.show.started_at') %> : <%= @task.started_at %></p>
<p><%= I18n.t('tasks.show.finished_at') %> : <%= @task.finished_at %></p>
<%= link_to I18n.t('tasks.back'), tasks_path(project_id: @task.project_id) %>
