<h1>タスク詳細</h1>

<p>プロジェクト名: <%= @task.project.project_name %></p>
<p>タスク名: <%= @task.task_name %></p>
<p>説明: <%= @task.description %></p>
<p>優先順位: <%= @task.priority %></p>
<p>担当者: <%= @assignee_username %></p>
<p>承認者: <%= @reporter_username%></p>
<p>開始日: <%= @task.started_at %></p>
<p>終了日: <%= @task.finished_at %></p>
<%= link_to 'Back', tasks_path(project_id: @task.project_id) %>
