<!DOCTYPE html>
<html>
  <head>
    <title>Tanask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <h1>task list</h1>
    <ul>
      <% @tasks.each do |task| %>
      <li><%= task.name %></li>
          <%= task.description %>
      <%  end %>
    </ul>
  </body>
</html>
