<%= form_for(user) do |f| %>
  <div class="form">
    <div class="form-group">
      <%= f.label :name, class: 'col-form-label' %>
      <div><%= f.text_field :name, class:'form-control' %></div>
    </div>
    <div class="form-group role">
      <%= f.label :role, class: 'col-form-label' %>
      <%= f.select :role, User.roles_i18n.invert, class:'form-control' %>
    </div>

    <%= f.fields_for :auth_info do |a| %>
      <div class="form-group">
        <%= a.label :email, class: 'col-form-label' %>
        <div><%= a.email_field :email, class: "form-control", placeholder:"Enter email" %></div>
      </div>
      <div class="form-group">
        <%= a.label :password, class: 'col-form-label' %>
        <div><%= a.password_field :password, class: "form-control", placeholder:"Password" %></div>
      </div>
      <div class="form-group">
        <%= a.label :password_confirmation, class: 'col-form-label' %>
        <div><%= a.password_field :password_confirmation, class: "form-control", placeholder:"Password(confirm)" %></div>
      </div>
      <div class="form-group text-center">
        <%= f.submit class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
<% end %>
<%= link_to I18n.t('back'), users_path, class: 'back btn btn-secondary' %>
