<p id="error"><%= alert %></p>

<div class="w-25 m-auto">
  <%= form_with(model: @user) do |form| %>
    <%= form.label I18n.t('users.common.email') %>
    <%= form.text_field :email, class: 'form-control' %>

    <%= form.label I18n.t('users.common.password') %>
    <%= form.text_field :password, class: 'form-control' %>

    <%= form.submit nil, class: 'btn btn-primary mt-2' %>
  <% end %>
</div>
