<!DOCTYPE html>
<html lang="ja">
<head>
  <title><%= I18n.t('errors.505.title') %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag "errors" %>
</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/500.html.erb -->
  <div class="dialog">
    <div>
      <h1><%= I18n.t('errors.505.contents') %></h1>
      <p><%= I18n.t('errors.505.message') %></p>
    </div>
    <p><a href="/"><%= I18n.t('errors.footer.root') %></a></p>
  </div>
</body>
</html>
