<div class="container">
  <div class="mt-3">
    <h1 class="text-center"><%= I18n.t('tasks.index.page_title') %></h1>
  </div>
  <div class="mt-5">
    <div class="mt-3">
      <%= search_form_for(@search, url: root_path)  do |f| %>
      <div class="form-group">
        <%= f.label :sorts, I18n.t('tasks.index.sort_order') %>
        <%= f.select :sorts, options_for_select(@sort_order_list.map{|c|[c[:name], c[:sort]]}, selected:params[:q][:sorts]), {}, {onchange: 'this.form.submit()'} %>
      </div>
      <div class="row mt-5">
        <div class="form-group">
          <%= f.label :status_eq, I18n.t('tasks.index.status') %>
          <%= f.select :status_eq, Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]} , include_blank: true %>
        </div>
        <div class="form-group">
          <%= f.label :title_cont, I18n.t('tasks.index.search_task_name') %>
          <%= f.search_field :title_cont, value: params[:q][:title_cont] %>
        </div>
        <div class="form-group">
          <%= f.submit %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="mt-4">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col"><%= I18n.t('tasks.index.status') %></th>
            <th scope="col"><%= I18n.t('tasks.index.task') %></th>
            <th scope="col"><%= I18n.t('tasks.index.end_date') %></th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |tasks| %>
          <tr>
            <td><%= I18n.t("enums.task.status.#{tasks.status}") %></td>
            <td><a href="tasks/taskdetail/<%= tasks.id %>"><%= tasks.title %></a></td>
            <td><%= tasks.end_date == nil ? "-" : tasks.end_date.strftime("%Y/%m/%d") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <a class="btn btn-secondary" href="tasks/newtask" role="button"><%= I18n.t('tasks.index.submit_button') %></a>
    </div>
  </div>
</div>
