<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="alert alert-danger mt-3">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.text_field :name, class: "form-control", placeholder: "Task Name" %>
  </div>

  <div class="field mb-3">
    <%= form.text_area :desc, class: "form-control", placeholder: "Description"%>
  </div>

  <div class="field mb-3">
    <%= form.select :status, Task.statuses, {selected: @task.status || "", disabled: "", prompt: 'Please select status'} , class: "form-control"%>
  </div>

  <div class="field mb-3">
    <%= form.text_field :label, class: "form-control", placeholder: "Label" %>
  </div>

  <div class="field mb-3">
    <%= form.select :priority, Task.priorities, {selected: @task.status || "", disabled: "", prompt: 'Please select priority'}, class: "form-control", placeholder: "Priority"%>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-secondary' %>
    <%= link_to 'Back', tasks_path, class: "btn btn-dark" %>
  </div>
<% end %>
