<%= form_with url: tasks_path, method: :get, local: true, class: 'form-inline py-5' do |f| %>
  <div class="form-group">
    <%= f.label :title_search, t('.title_search'), class: 'col-form-label mx-2' %>
    <%= f.text_field :title, value: search_tasks.title, placeholder: t('.search_placeholder'), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :status_search, t('.status_search'), class: 'col-form-label mx-2' %>
    <%= f.select :status, options_for_select(task_statuses, search_tasks.title), {include_blank: true}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :label_ids_search, t('.label'), class: 'col-form-label mx-2' %>
    <%= f.collection_check_boxes(:label_ids, @labels, :id, :name, {checked: search_tasks.label_ids, include_hidden: false}, {class: 'mx-1'}) %>
  </div>
  <div><%= f.submit 'Search', class: 'btn btn-secondary ml-2' %></div>
  <div class="new-task"><%= link_to 'New Task', new_task_path, class: 'btn btn-primary' %></div>
<% end %>
