<p id="notice"><%= notice %></p>

<h1><%= t('.title') %></h1>

<%= search_form_for @q do |f| %>
  <%= f.label :title, t('title') %>
  <%= f.search_field :title_cont %>

  <br>

  <%= f.label :user, t('user') %>
　<%= f.radio_button :user_id_eq, '', {:checked => true} %><%= t('.select_all_user') %>
  <%= f.radio_button :user_id_eq, current_user.id %><%= t('.select_current_user') %>

  <br>

  <%= f.label :status, t('status') %>
  <%= f.radio_button :status_eq, '', {:checked => true} %><%= t('unspecified') %>
  <% Task.statuses.each do |k, v| %>
    <%= f.radio_button :status_eq, v %><%= t("models.tasks.status.#{k}") %>
  <% end %>

  <br>

  <%= f.label :labels, t('activerecord.attributes.task.labels') %>
  <%= f.radio_button :labels_id_eq, '', {:checked => true} %><%= t('unspecified') %>
  <% Label.all.each do |label| %>
    <%= f.radio_button :labels_id_eq, label.id %><%= label.name %>
  <% end %>

  <br>

  <%= f.submit t('search') %>
<% end %>

<br>

<table>
  <thead>
    <tr>
      <th><%= t('title') %></th>
      <th><%= t('status') %>
      <th><%= t('created_by') %></th>
      <th><%= t('created_at') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task %></td>
        <td><%= t("models.tasks.status.#{task.status}") %></td>
        <td><%= task.user.name %></td>
        <td><%= l task.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>

<br>

<%= link_to t('.new_task'), 'tasks/new' %>
