<div>
  <h1 class="task-index-headline"><%= t('tasks.index.title') %></h1>
  <div class="logout mt-4"><%= button_to t('.logout'), logout_path, method: :delete, class: 'btn btn-danger' %></div>
</div>
<div><%= render 'search', search_tasks: @search_tasks, task_statuses: @task_statuses %></div>
<table class="table mt-2">
  <thead class="thead-light">
    <tr>
      <th><%= Task.human_attribute_name(:title) %></th>
      <th><%= Task.human_attribute_name(:memo) %></th>
      <th><%= create_sort_link('deadline', @search_tasks.title, @search_tasks.status, @sort) %></th>
      <th><%= Task.human_attribute_name(:created_at) %></th>
      <th><%= create_sort_link('status', @search_tasks.title, @search_tasks.status, @sort) %></th>
      <th><%= User.human_attribute_name(:name) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |t| %>
      <tr class="task">
        <td><%= t.title %></td>
        <td><%= t.memo %></td>
        <td><%= l t.deadline if t.deadline.present? %></td>
        <td><%= l t.created_at, format: :short %></td>
        <td><%= t.human_attribute_enum(:status) %></td>
        <td><%= t.user.name %></td>
        <td class="btn-group">
          <%= link_to t('.detail'), t, class: 'btn btn-secondary' %>
          <%= link_to t('.edit'), edit_task_path(t), class: 'btn btn-primary' %>
          <%= link_to t('.delete'), task_path(t), class: 'btn btn-danger', method: :delete, data: { confirm: t('.confirm') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <div class="task-paginate"><%= paginate @tasks %></div>
  <div class="admin-user"><%= link_to t('.admin_user'), admin_users_path, class: 'btn btn-primary' if @current_user.admin? %></div>
</div>
