<h1><%= t('tasks.index.title') %></h1>
<%= form_tag(tasks_path, method: :get, class: 'form-row py-5') do %>
  <%= label_tag :title_search, t('.title_search'), class: 'col-form-label' %>
  <%= text_field_tag(:title, @search_tasks.title, placeholder: t('.search_placeholder'), class: 'form-control col-sm-6') %>
  <%= label_tag :status_search, t('.status_search'), class: 'col-form-label' %>
  <%= select_tag(:status, options_for_select(Task.statuses.map {|k, _| [Task.human_attribute_enum_val(:status, k), k] }.to_h, @search_tasks.title), include_blank: true, class: 'form-control col-sm-2') %>
  <%= submit_tag 'Search', class: 'btn btn-secondary ml-2' %>
<% end %>
<table class="table mt-2">
  <thead class="thead-light">
    <tr>
      <th><%= tasks_sort(Task.human_attribute_name(:title), 'title', @search_tasks.title, @search_tasks.status) %></th>
      <th><%= tasks_sort(Task.human_attribute_name(:memo), 'memo', @search_tasks.title, @search_tasks.status) %></th>
      <th><%= tasks_sort(Task.human_attribute_name(:deadline), 'deadline', @search_tasks.title, @search_tasks.status) %></th>
      <th><%= tasks_sort(Task.human_attribute_name(:created_at), 'created_at', @search_tasks.title, @search_tasks.status) %></th>
      <th><%= tasks_sort(Task.human_attribute_name(:status), 'status', @search_tasks.title, @search_tasks.status) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |t| %>
      <tr class="task">
        <td><%= t.title %></td>
        <td><%= t.memo %></td>
        <td><%= l t.deadline if t.deadline.present? %></td>
        <td><%= l t.created_at, format: :short %></td>
        <td><%= t.human_attribute_enum(:status) %></td>
        <td><%= link_to t('.detail'), t, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
<%= link_to 'New Task', new_task_path, class: 'btn btn-primary' %>
