<h1><%= t('.title') %></h1>

<p id="notice"><%= notice %></p>

<%= form_for(@task) do |f| %>
  <%= f.label :title, t('title') %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :description, t('description') %>
  <%= f.text_area :description %>
  <br>
  <%= f.select :status, Task.statuses.keys.map {|k| [t("models.tasks.status.#{k}"), k] } %>
  <br>
  <%= f.select :priority, Task.priorities.keys.map {|k| [t("models.tasks.priority.#{k}"), k]} %>
  <br>
  <%= f.submit t('submit') %>
<% end %>

<%= link_to t('back'), tasks_path %>
