<h1>New Task</h1>

<p id="notice"><%= notice %></p>

<%= form_for(@task) do |f| %>
  <%= f.text_field :title %>
  <br>
  <%= f.text_area :description %>
  <br>
  <%= f.select :status, [['To do', 0], ['Doing', 1], ['Done', 2]] %>
  <br>
  <%= f.select :priority, [['Low', -1], ['Medium', 0], ['High', 1]] %>
  <br>
  <%= f.submit '投稿' %>
<% end %>

<%= link_to 'Back', tasks_path %>
