<h1><%= t('.title') %></h1>

<p id="notice"><%= notice %></p>

<%= form_for(@task) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.label :title, t('title') %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :description, t('description') %>
  <%= f.text_area :description %>
  <br>
  <%= f.label :labels %>
  <%= f.collection_check_boxes :label_ids, Label.all, :id, :name, { multiple: true } %>
  <br>
  <%= f.select :status, Task.statuses.keys.map {|k| [t("models.tasks.status.#{k}"), k] } %>
  <br>
  <%= f.select :priority, Task.priorities.keys.map {|k| [t("models.tasks.priority.#{k}"), k]} %>
  <br>
  <%= f.submit t('submit') %>
<% end %>

<%= link_to t('back'), tasks_path %>
