<div class="container">
  <h2><%= I18n.t('tasks.show.page_title') %></h2>

  <div class="card">
    <div class="card-body">
      <p class="card-title"><%= @task.title %></p>
      <p class="card-text"> <%= @task.description %></p>
    </div>
  </div>

  <%= link_to I18n.t('tasks.show.edit'), edit_user_task_path(@current_user, @task), class: 'btn btn-outline-primary' %>
  <%= link_to I18n.t('tasks.show.back'), user_tasks_path(@current_user), class: 'btn btn-outline-primary' %>
</div>
