<p id="notice"><%= notice %></p>

<%= form_for(@task, url: task_path(@task), html: {method: 'put'}) do |f| %>
  <%= f.label :title, t('title') %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :description, t('description') %>
  <%= f.text_area :description %>
  <br>
  <%= f.label :labels %>
  <%= f.collection_check_boxes :label_ids, Label.all, :id, :name, { multiple: true } %>
  <br>
  <%= f.select :status, Task.statuses.keys.map {|k| [t("models.tasks.status.#{k}"), k] } %>
  <br>
  <%= f.select :priority, Task.priorities.keys.map {|k| [t("models.tasks.priority.#{k}"), k]} %>
  <br>
  <p><%= t('created_by') %>: <%= @task.user.name %></p>
  <p><%= t('created_at') %>: <%= l(@task.created_at) %></p>
  <p><%= t('last_modified') %>: <%= l(@task.updated_at) %></p>
  <%= f.submit t('submit') %>
<% end %>

<%= form_for(@task, url: task_path(@task), html: {method: 'delete'}) do |f| %>
  <%= f.submit t('delete'), data: { confirm: t('delete_confirm') } %>
<% end %>

<%= link_to t('back'), tasks_path %>
