<header class="navbar bg-primary">
  <a class="logo navbar-brand text-white" href="/" style='margin-left: 10px;'>YARANEBA</a>

  <div style='margin-right: 10px;'>
  <% if session[:role_id].eql?(Role::ROLE_ADMIN) %>
    <%= link_to 'ユーザ管理画面', admin_users_path, class: 'btn btn-primary' %>
    <%= link_to 'タスク管理画面', admin_tasks_path, class: 'btn btn-primary' %>
  <% end %>

  <% if session[:id].present? %>
    <%= link_to 'ログアウト', '/login', method: :delete, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to 'ログイン', '/login', class: 'btn btn-primary' %>
    <%= link_to '新規登録', new_user_path, class: 'btn btn-primary' %>
  <% end %>
  </div>
</header>
