<h1>タスク編集</h1>
<%= render 'layouts/error_messages', model: @task %>
<%= form_with(model: @task, local: true) do |form| %>
<p>
  <%= form.label :title %>
  <%= form.text_field :title %>
</p>

<p>
  <%= form.label :description %>
  <%= form.text_field :description %>
</p>

<p>
  <%= form.label :task_status_id %>
  <%= form.select :task_status_id, [['未着手', 1], ['着手中', 2], ['完了', 3]] %>
</p>

<p>
  <%= form.submit %>
</p>

<% end %>

<%= link_to 'Back', root_path  %>
