<h1>タスク一覧</h1>
<p>
<% flash.each do |name, msg| %>
<%= content_tag :div, msg, class: name  %>
<% end %>
</p>
<%= form_with url: root_path, method: :get, local: true do |form| %>
  <%= form.label 'status' %>
  <%= form.select :task_status_id, @status_selection.store('全て', ''), selected: params[:task_status_id] || '' %>
  <%= form.submit '検索' %>
<% end %>
<table>
  <tr>
    <th><%= t('dictionary.table.title') %></th>
    <th><%= t('dictionary.table.description') %></th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @task.each do |task| %>
  <tr>
    <th><%= task.title %></th>
    <th><%=task.description %></th>
    <th><%=task.task_status.name %></th>
    <th><%= link_to t('dictionary.button.show'), task_path(task) %></th>
    <th><%= link_to t('dictionary.button.edit'), edit_task_path(task) %></th>
    <th><%= link_to t('dictionary.button.destroy'), task_path(task), method: :delete, data:{ confirm: t('dictionary.message.destroy.confirm')} %></th>
  <tr>
  <% end %>
</table>
<%= link_to t('dictionary.button.create'), new_task_path %>
