<h1><%= t('dictionary.title.create') %></h1>
<%= render 'layouts/error_messages', model: @task %>
<%= form_with scope: :task,url: task_index_path, local: true do |form| %>
<p>
  <%= form.label :title %>
  <%= form.text_field :title %>
</p>
<p>
  <%= form.label :description %>
  <%= form.text_field :description %>
</p>
<p>
  <%= form.submit t('dictionary.button.create') %>
  <%= %>
  <%= %>
</p>
<% end %>

<%= link_to 'Back', root_path  %>
