<h1><%= t('dictionary.title.create') %></h1>
<%= render 'layouts/error_messages', model: @task %>
<%= form_with scope: :task,url: task_index_path, local: true do |form| %>
<p>
  <%= form.label t('dictionary.table.title') %>
  <%= form.text_field :title %>
</p>

<p>
  <%= form.label t('dictionary.table.description') %>
  <%= form.text_field :description %>
</p>

<p>
  <%= form.label :task_status_id %>
  <%= form.select :task_status_id, @status_selection %>
</p>

<p>
  <%= form.submit t('dictionary.button.create') %>
  <%= %>
  <%= %>
</p>
<% end %>

<%= link_to t('dictionary.browse.back'), root_path  %>
