<h1><%= I18n.t('task.title.list') %></h1>
<div class="notifications">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
  <% end %>
</div>
<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %></h2>
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= link_to I18n.t('task.create'), new_task_path %>
<table border=2>
    <thead>
        <tr>
            <th width="40"><%= I18n.t('task.id') %></th>
            <th width="100"><%= I18n.t('task.name') %></th>
            <th width="200"><%= I18n.t('task.description') %></th>
            <th width="120"><%= I18n.t('task.status') %></th>
            <th width="180"><%= I18n.t('task.label') %></th>
            <th width="90"><%= I18n.t('task.due_date') %></th>
            <th width="140"><%= I18n.t('task.created_at') %></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @tasks.each do |task| %>
        <tr>
            <td><%= task.id %></td>
            <td><%= task.name %></td>
            <td><%= task.description %></td>
            <td><%= task.status %></td>
            <td><%= task.labels %></td>
            <td><%= task.due_date %></td>
            <td><%= task.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td><%= link_to I18n.t('task.update'), edit_task_path(task.id), method: 'get' %></td>
            <td><%= link_to I18n.t('task.destroy'), task_path(task.id), method: 'delete', data: { confirm: "ID:#{task.id}を" + I18n.t('task.confirm.delete') } %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<div>
<br>
<%= link_to I18n.t('task.title.to_list'), tasks_path %>
</div>
