<h1>編集</h1>
<%= form_for (@task) do |f| %>
<p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <% if @user.errors.any? %>
        <%= @task.errors.messages[:name][0] %>
    <% end %>
</p>

<p>
    <%= f.submit %>
</p>

<% end %>
