<%= form_with(model: project, local: true) do |form| %>
  <div class="form-group">
    <%= form.label Project.human_attribute_name(:project_name) %>
    <%= form.text_field :project_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label Project.human_attribute_name(:description)  %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
  
  <div class="form-row align-items-center mb-3">
    <div class="col-auto">
      <%= form.label Project.human_attribute_name(:status) %>
        <%= form.select :status, Project.statuses.map { |k, v| [I18n.t("enums.project.status.#{k}"), k] }, {}, class: "custom-select" %>
    </div>

    <div class="col-auto">
      <%= form.label Project.human_attribute_name(:started_at) %>
      <%= form.date_field :started_at,
      class: 'custom-select' %>
    </div>

    <div class="col-auto">
      <%= form.label Project.human_attribute_name(:finished_at) %>
      <%= form.date_field :finished_at,
      class: 'custom-select' %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-auto">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
    <div class="col-auto">
      <%= link_to I18n.t('back'), projects_path, class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
