<h1><%= I18n.t('projects.index.title') %><h1>
<p><%= link_to I18n.t('projects.index.new'), new_project_path %></p>

<div class = "pj_todo">
  <p><%= Project.human_attribute_name(:todo) %></p>
  <% @projects.todo.each do |project| %>
    <%= render partial: "project_form", locals: {project: project} %>
  <% end %>
</div>
<br>
<div class = "pj_inprogress">
  <p><%= Project.human_attribute_name(:in_progress) %></p>
  <% @projects.in_progress.each do |project| %>
    <%= render partial: "project_form", locals: {project: project} %>
  <% end %>
</div>
<br>
<div class = "pj_inreview">
  <p><%= Project.human_attribute_name(:in_review) %></p>
  <% @projects.in_review.each do |project| %>
    <%= render partial: "project_form", locals: {project: project} %>
  <% end %>
</div>
<br>
<div class = "pj_release">
  <p><%= Project.human_attribute_name(:release) %></p>
  <% @projects.release.each do |project| %>
    <%= render partial: "project_form", locals: {project: project} %>
  <% end %>
</div>
<br>
<div class = "pj_done">
  <p><%= Project.human_attribute_name(:done) %></p>
  <% @projects.done.each do |project| %>
    <%= render partial: "project_form", locals: {project: project} %>
  <% end %>
</div>
