<h1>プロジェクト一覧<h1>
<p><%= link_to 'PJ登録', new_project_path %></p>

<div class = "pj_todo">
  <p>To Do</p>
  <% @todo_projects.each do |project| %>
    <%= render partial: "project_form", locals: {project: project} %>
  <% end %>
</div>
<br>
<div class = "pj_inprogress">
  <p>In Progress</p>
  <% @progress_projects.each do |project| %>
    <%= render partial: "project_form", locals: {project: project} %>
  <% end %>
</div>
<br>
<div class = "pj_inreview">
  <p>In Review</p>
  <% @review_projects.each do |project| %>
    <%= render partial: "project_form", locals: {project: project} %>
  <% end %>
</div>
<br>
<div class = "pj_release">
  <p>Waiting Approval / Release</p>
  <% @relese_projects.each do |project| %>
    <%= render partial: "project_form", locals: {project: project} %>
  <% end %>
</div>
<br>
<div class = "pj_done">
  <p>Resolved / Done</p>
  <% @resolved_projects.each do |project| %>
    <%= render partial: "project_form", locals: {project: project} %>
  <% end %>
</div>
