<h1><%= I18n.t('projects.show.title') %></h1>

<p><%= I18n.t('projects.show.name') %> : <%= @project.project_name %></p>
<p><%= I18n.t('projects.show.description') %> : <%= @project.description %></p>
<p><%= I18n.t('projects.show.status') %> : <% case @project.status
         when 'todo' %>
          <%= Project.human_attribute_name(:todo) %>
        <% when 'in_progress' %>
          <%= Project.human_attribute_name(:in_progress) %>
        <% when 'in_review' %>
          <%= Project.human_attribute_name(:in_review) %>
        <% when 'release' %>
          <%= Project.human_attribute_name(:release) %>
        <% when 'done' %>
          <%= Project.human_attribute_name(:done) %>
      <% end %></p>
<p><%= I18n.t('projects.show.started_at') %> : <%= @project.started_at %></p>
<p><%= I18n.t('projects.show.finished_at') %> : <%= @project.finished_at %></p>
<%= link_to I18n.t('projects.back'), projects_path %>
