<h1><%= I18n.t('projects.show.title') %></h1>

<p><%= I18n.t('projects.show.name') %> : <%= @project.project_name %></p>
<p><%= I18n.t('projects.show.description') %> : <%= @project.description %></p>
<p><%= I18n.t('projects.show.status') %> : <%= @project.status_i18n %></p>
<p><%= I18n.t('projects.show.started_at') %> : <%= @project.started_at %></p>
<p><%= I18n.t('projects.show.finished_at') %> : <%= @project.finished_at %></p>
<%= link_to I18n.t('projects.back'), projects_path %>
