<div class="container">
  <h1><%= @project.project_name %><%= I18n.t('projects.show.title') %></h1>

  <table class="table table-striped">
    <tr>
      <th><%= Project.human_attribute_name(:project_name) %></th>
      <td><%= @project.project_name %></td>
    </tr>
    <tr>
      <th><%= Project.human_attribute_name(:description) %></th>
      <td><%= @project.description %></td>
    </tr>
    <tr>
      <th><%= Project.human_attribute_name(:status) %></th>
      <td><%= @project.status_i18n %></td>
    </tr>
    <tr>
      <th><%= Project.human_attribute_name(:started_at) %> </th>
      <td><%= @project.started_at %></td>
    </tr>
    <tr>
      <th><%= Project.human_attribute_name(:finished_at) %> </th>
      <td><%= @project.finished_at %></td>
    </tr>
  </table>
  <div class="form-row mb-4">
    <div class="col-auto">
      <%= link_to I18n.t('back'), projects_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-auto">
      <%= link_to I18n.t('projects.index.update'), edit_project_path(@project), class: 'btn btn-secondary' %>
    </div>
    <div class="col-auto">
      <%= link_to I18n.t('projects.index.tasklist'), project_tasks_url(@project), class: 'btn btn-secondary' %>
    </div>
    <% if @project.users.include?(current_user) %>
      <div class="col-auto">
        <%= link_to I18n.t('projects.index.delete'), @project, method: :delete, data: { confirm: I18n.t('delete.confirm') }, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
