<% content_for(:title, t('.title')) %>
<h1><%= t('.title') %></h1>
<hr>
<div id="login">
  <%= form_with url: login_sessions_path, user: @user, method: :post, local: true do |f| %>
    <dl>
      <dt>ログインID</dt>
      <dd><%= f.text_field :login_id, placeholder: "入力してください", id: 'login_id' %></dd>
      <dt>パスワード</dt>
      <dd><%= f.text_field :password, placeholder: "入力してください", id: 'details' %></dd>
    </dl>
    <%= f.submit t('.login') %>
  <% end %>
</div>
<hr>
