<div class="container">
  <h1><%= I18n.t('users.new.title') %></h1>
  <%= form_for(:session, url: login_path) do |f| %>
    <div class="form-row align-items-center mb-2">
      <div class="col-auto">
        <%= f.label :'ユーザ名' %>
        <%= f.text_field :account_name, class: 'form-control' %>
      </div>
      <div class="col-auto">
        <%= f.label :'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>
    <div class="form-row">
      <%= f.submit "Log in", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
