<% if logged_in? %>
  <div class="side">
    <nav>
      <h1><%= link_to 'Neko', root_path, class: 'title-neko' %></h1>
      <div class="user-name">
        <p><%= current_user.name %></p>
      </div>
      <div class="button-container">
        <% if current_page?(controller: 'users') %>
          <%= link_to I18n.t('users.new.title'), new_user_path , class: "btn-push" %>
        <% else %>
          <%= link_to I18n.t('tasks.new.title'), new_task_path , class: "btn-push" %>
        <% end %>
      </div>
      <div class="menu">
        <p><%= link_to I18n.t('tasks.index.title'), tasks_path %></p>
        <p><%= link_to I18n.t('users.index.title'), users_path %></p>
      <div>
    </nav>
    <%= link_to I18n.t('logout'), logout_path, method: :delete, class: 'logout' %>
  </div>
<% end %>
