<!DOCTYPE html>
<html>
  <head>
    <title>Neko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <%= render partial: 'layouts/sidemenu' %>
      <div class="container main">
        <%= render partial: 'layouts/notification' %>
        <%= yield %>
      </div>
    <div>
  </body>
</html>
