<!DOCTYPE html>
<html>
  <head>
    <title>Neko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/notification' %>
    <div class="wrapper">
      <% if logged_in? %>
        <div class="side">
          <nav>
            <h1 class="title-neko">Neko</h1>
            <div class="user-name">
              <p><%= @current_user.name %></p>
            </div>
            <div class="button-container">
              <% if current_page?(controller: 'users') %>
                <%= link_to I18n.t('users.new.title'), new_user_path , class: "btn-push" %>
              <% else %>
                <%= link_to I18n.t('tasks.new.title'), new_task_path , class: "btn-push" %>
              <% end %>
            </div>
            <div><%= link_to I18n.t('tasks.index.title'), tasks_path %></div>
            <div><%= link_to I18n.t('users.index.title'), users_path %><div>
          </nav>
          <%= link_to I18n.t('logout'), logout_path, method: :delete, class: 'logout' %>
        </div>
      <% end %>
      <div class="container main">
        <%= yield %>
      </div>
    <div>
  </body>
</html>
