<div class='container'>
  <h1><%= I18n.t('tasks.title.index') %></h1>
  <%= link_to I18n.t('tasks.link.new'), new_task_path, class: 'btn btn-info' %>

  <table class='table'>
    <thead>
      <tr>
        <th scope='col'><%= @tasks.human_attribute_name(:name) %></th>
        <th scope='col'><%= @tasks.human_attribute_name(:end_date) %></th>
        <th scope='col'><%= @tasks.human_attribute_name(:status) %></th>
        <th scope='col'><%= @tasks.human_attribute_name(:priority) %></th>
        <th scope='col'> </th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.name, task %></td>
          <td><%= task.end_date %></td>
          <td><%= task.status %></td>
          <td><%= task.priority %></td>
          <td style='display: flex'>
            <%= link_to I18n.t('tasks.link.edit'), edit_task_path(task), class: 'btn btn-primary' %>
            <%= button_to I18n.t('tasks.link.delete'), task_path(task), method: :delete, data: { confirm: I18n.t('tasks.delete_confirm', name: task.name) }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
