<%= form_with(model: @task) do |f| %>
  <p><%= f.label I18n.t(:'task.title') %></p>
  <p><%= f.text_field :title %></p>
  <p><%= f.label I18n.t(:'task.description') %></p>
  <p><%= f.text_area :description %></p>
  <p><%= f.label I18n.t(:'task.end_at') %></p>
  <p><%= f.datetime_field :end_at %></p>
  <p><%= f.submit (@task.new_record? ? I18n.t(:'button.create') : I18n.t(:'button.edit')) %></p>
<% end %>
