<%= form_with(model: @task) do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>
  <p><%= f.label :description %></p>
  <p><%= f.text_area :description %></p>
  <p><%= f.label :due_date %></p>
  <p><%= f.datetime_field :due_date %></p>
  <p><%= f.submit (@task.new_record? ? I18n.t('common.action.create') : I18n.t('common.action.update')) %></p>
<% end %>
