<%= form_with(model: @task) do |f| %>
  <p><%= f.label t(:'task.title') %></p>
  <p><%= f.text_field :title %></p>
  <p><%= f.label t(:'task.description') %></p>
  <p><%= f.text_area :description %></p>
  <p><%= f.submit (@task.new_record? ? t(:'button.create') : t(:'button.edit')) %></p>
<% end %>
