<%= link_to t(:'button.create'), new_task_path %>
<% if @tasks.present? %>
  <table>
    <tr>
      <th>ID</th>
      <th><%= t(:'task.title') %></th>
      <th><%= t(:'task.description') %></th>
      <th></th>
    </tr>
    <% @tasks.each do |task| %>
    　　<tr>
        <td><%= link_to task.id, task_path(task) %></td>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= link_to t(:'link.delete'), task_path(task), method: :delete %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= t(:'message.task_not_registered') %>
<% end %>