<%= link_to '編集', edit_task_path(@task) %>
<%= link_to I18n.t('common.action.destroy'), task_path(@task), method: :delete %>
<table>
  <tr>
    <th><%= Task.human_attribute_name(:id) %></th>
    <th><%= Task.human_attribute_name(:title) %></th>
    <th><%= Task.human_attribute_name(:description) %></th>
    <th><%= Task.human_attribute_name(:due_date) %></th>
  </tr>
  <tr>
    <td><%= @task.id %></td>
    <td><%= @task.title %></td>
    <td><%= @task.description %></td>
    <td><%= I18n.l(@task.due_date) %></td>
  </tr>
</table>
