<head>
  <meta charset='utf-8'>
</head>

<body>
  <%= I18n.t 'tasks.new.title' %><br>
  <%= flash[:create_failure] %> 
  <%= form_with(model: @task, method: :post) do |f| %>
    <%= render 'layouts/error_form', locals: { task: @task } %>
    <%= Task.human_attribute_name(:name) %>: <br>
    <%= f.text_field :name %><br>
    <%= Task.human_attribute_name(:description) %>: <br>
    <%= f.text_field :description %><br>
    <%= Task.human_attribute_name(:end_date) %>: <br>
    <%= f.text_field :end_date %><br>
    <%= Task.human_attribute_name(:priority) %>: <br>
    <%= f.text_field :priority %><br>
    <%= f.submit %>
  <% end %>
</body>
