<head>
  <meta charset='utf-8'>
</head>

<body>
  <%= I18n.t 'tasks.show.title' %><br>
  <%= Task.human_attribute_name(:id) %>:
  <%= @task.id %><br>
  <%= Task.human_attribute_name(:name) %>:
  <%= @task.name %><br>
  <%= Task.human_attribute_name(:description) %>:
  <%= @task.description %><br>
  <%= Task.human_attribute_name(:end_date) %>:
  <%= @task.end_date %><br>
  <%= Task.human_attribute_name(:priority) %>:
  <%= @task.priority %><br>
  <%= Task.human_attribute_name(:created_at) %>:
  <%= @task.created_at.strftime('%Y-%m-%d') %><br>
  <br>

  <%= link_to I18n.t('tasks.show.edit'), edit_task_path(@task) %>
  <%= link_to I18n.t('tasks.show.destroy'), task_path(@task), method: :delete %>
</body>
