<head>
  <meta charset='utf-8'>
  <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
</head>

<body>
  <%= link_to(root_path, class: 'home-link') do %>
    <h1>
      <%= I18n.t 'tasks.index.title' %><br>
    </h1>
  <% end %>
  <div class="task-container">
    <div class="card">
      <h2 class="task-name">
        <%= @task.name %><br>
      </h2>
      <p class="task-description">
        <%= safe_join(@task.description.split("\n"),tag(:br)) %><br><br>

        <i class="far fa-clock"></i>
        <%= @task.end_date %><br>

        <div class="<%=status_label_class(@task) %>"%>
          <i class="fa fa-chevron-right"></i>
        <%= @task.status_i18n %>
        </div>
        <br>
        <br>

        <%= Task.human_attribute_name(:priority) %>:
        <%= @task.priority %><br>

        <p class="created-date">
          <%= Task.human_attribute_name(:created_at) %>:
          <%= @task.created_at.strftime('%Y-%m-%d') %><br>
        </p>
      </p>
    </div>
  </div>

  <%= link_to I18n.t('tasks.show.edit'), edit_task_path(@task), class: "gray-text-button" %>
  <%= link_to I18n.t('tasks.show.destroy'), task_path(@task), method: :delete, class: "gray-text-button" %>
</body>
