<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> <%= I18n.t('tasks.edit.prohibited') %></h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label I18n.t('tasks.common.title') %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= form.label I18n.t('tasks.common.detail') %>
    <%= form.text_area :detail %>
  </div>

  <div class="field">
    <%= form.label I18n.t('tasks.common.status') %>
    <%= form.select :status, Task.statuses.keys.map { |k| [I18n.t("tasks.status.#{k}"), k]} %>
  </div>

  <div class="field">
    <%= form.label I18n.t('tasks.common.end_date') %>
    <%= form.datetime_select :end_date, discard_hour: :true, discard_minute: :true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
