<% if task.errors.any? %>
  <div class = "alert alert-warning">
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- TODO:ステップ20でラベルを追加し、登録・編集可能とする -->
<%= form_with model: task, local: true do |f| %>
  <%= f.submit "#{type}" %><br><br>
  <!-- テーブルボディ -->
  <table>
    <!-- テーブルヘッダ -->
    <thead>
    <tr>
      <th class="name"><%= I18n.t('tasks.header.name') %></th>
      <th class="details"><%= I18n.t('tasks.header.details') %></th>
      <th class="deadline"><%= I18n.t('tasks.header.deadline') %></th>
      <th class="priority"><%= I18n.t('tasks.header.priority') %></th>
      <th class="status"><%= I18n.t('tasks.header.status') %></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="name"><%= f.text_field :name, placeholder: I18n.t('layouts.message.input'), id: 'name' %></td>
      <td class="details"><%= f.text_field :details, placeholder: I18n.t('layouts.message.input'), id: 'details' %></td>
      <td class="deadline"><%= f.date_field :deadline, value: show_date(@task.deadline) ||
                                             show_date(Time.now), id: 'deadline' %></td>
      <td class="priority"><%= f.select :priority,
                                         Task.priorities.keys.map {|k| [I18n.t("enums.task.priority.#{k}"), k]},
                                         {selected: @task.priority}, id: 'priority' %></td>
      <td class="status"><%= f.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]},
                                      {selected: @task.status}, id: 'status'  %></td>
    </tr>
    <div class = "labels">
      <%= collection_check_boxes :task_label_relations, :label_ids, @labels, :id, :name do |label| %>
        <%= label.label { label.check_box + label.text } %>
      <% end %>
    </div>
    </tbody>
  </table>
<% end %>
