<% if task.errors.any? %>
  <div class = "alert alert-warning">
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- TODO:ステップ20でラベルを追加し、登録・編集可能とする -->
<%= form_with model: @task, local: true do |f| %>
  <%= f.submit "#{type}" %><br><br>
  <!-- テーブルボディ -->
  <table>
    <!-- テーブルヘッダ -->
    <thead>
    <tr>
      <th class="name"><%= t('tasks.header.name') %></th>
      <th class="details"><%= t('tasks.header.details') %></th>
      <th class="deadline"><%= t('tasks.header.deadline') %></th>
      <th class="priority"><%= t('tasks.header.priority') %></th>
      <th class="status"><%= t('tasks.header.status') %></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="name"><%= f.text_field :name, placeholder: "入力してください", id: 'name' %></td>
      <td class="details"><%= f.text_field :details, placeholder: "入力してください", id: 'details' %></td>
      <td class="deadline"><%= f.date_field :deadline, value: show_date(@task.deadline) ||
                                             show_date(Time.now), id: 'deadline' %></td>
      <td class="priority"><%= f.select :priority,
                                         Task.priorities.keys.map {|k| [I18n.t("enums.task.priority.#{k}"), k]},
                                         {selected: @task.priority}, id: 'priority' %></td>
      <td class="status"><%= f.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]},
                                      {selected: @task.status}, id: 'status'  %></td>
    </tr>
    </tbody>
  </table>
<% end %>
