<% content_for(:title, I18n.t('tasks.index.title')) %>
<h1><%= I18n.t('tasks.index.title') %></h1>
<hr>
<div id="task_list">
  <table>
    <!-- テーブルヘッダ -->
    <thead>
      <tr>
        <th class="no">No</th>
        <th class="name"><%= I18n.t('tasks.header.name') %></th>
        <th class="deadline"><%= I18n.t('tasks.header.deadline') %>
          <%= sort_link_to(@sort) %>
        </th>
        <th class="priority"><%= I18n.t('tasks.header.priority') %></th>
        <th class="status"><%= I18n.t('tasks.header.status') %></th>
        <th class="creation_date"><%= I18n.t('tasks.header.creation_date') %></th>
        <th class="edit"><%= I18n.t('tasks.header.edit') %></th>
        <th class="delete"><%= I18n.t('tasks.header.delete') %></th>
      </tr>
    </thead>

    <!-- テーブルボディ -->
    <tbody>
      <% i = 0 %>
      <% @tasks.each do |task| %>
        <tr>
          <td class="no"><%= i += 1 %></td>
          <td class="name"><%= link_to task.name, task_path(task), class: 'btn btn-show' %>
          <td class="deadline"><%= show_date_s(task.deadline) %></td>
          <td class="priority"><%= task.priority_i18n %></td>
          <td class="status"><%= task.status_i18n %></td>
          <td class="creation_date"><%= show_date_time_s(task.creation_date) %></td>
          <td class="edit"><%= link_to I18n.t('tasks.index.edit'), edit_task_path(task), class: 'link link-edit' %></td>
          <td class="delete"><%= delete_button_to(task_path(task)) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<hr>
<%= link_to I18n.t('tasks.footer.new'), new_task_path %>
