<div>
  <h2><%= I18n.t('tasks.show.title') %></h2>
</div>
<table class="table table-hover">
  <tbody>
    <tr>
      <th class="w-25">
        <label><%= I18n.t('activerecord.attributes.task.title') %></label>
      </th>
      <td>
        <%= @task.title %>
      </td>
    </tr>
    <tr>
      <th class="w-25">
        <label><%= I18n.t('activerecord.attributes.task.description') %></label>
      </th>
      <td>
        <%= simple_format(h(@task.description)) %>
      </td>
    </tr>
    <tr>
      <th class="w-25">
        <label><%= I18n.t('activerecord.attributes.task.priority') %></label>
      </th>
      <td>
        <%= @task.priority_i18n %>
      </td>
    </tr>
    <tr>
      <th class="w-25">
        <label><%= I18n.t('activerecord.attributes.task.status') %></label>
      </th>
      <td>
        <%= @task.status_i18n %>
      </td>
    </tr>
    <tr class="w-25">
      <th>
        <label><%= I18n.t('activerecord.attributes.task.due') %></label>
      </th>
      <td>
        <%= @task.due %>
      </td>
    </tr>
  </tbody>
</table>
<%= link_to I18n.t('link.back'), tasks_path, class: 'btn btn-dark' %>
