<% content_for(:title, I18n.t('tasks.show.title')) %>
<div class="container_tasks">
  <h1><%= I18n.t('tasks.show.title') %></h1>
  <hr>
  <div id="task_detail">
    <table>
      <!-- テーブルヘッダ -->
      <thead>
        <tr>
          <th class="name"><%= I18n.t('tasks.header.name') %></th>
          <th class="details"><%= I18n.t('tasks.header.details') %></th>
          <th class="deadline"><%= I18n.t('tasks.header.deadline') %></th>
          <th class="priority"><%= I18n.t('tasks.header.priority') %></th>
          <th class="status"><%= I18n.t('tasks.header.status') %></th>
          <th class="creation_date"><%= I18n.t('tasks.header.creation_date') %></th>
        </tr>
      </thead>

      <!-- テーブルボディ -->
      <tbody>
        <tr>
          <td class="name">
            <div class="labels">
              <% @task.labels.each do |label| %>
                <%= make_task_label_tag(label) %>
              <% end %>
            </div>
            <%= @task.name %></td>
          <td class="details"><%= @task.details %></td>
          <td class="deadline"><%= show_date_s(@task.deadline) %></td>
          <td class="priority"><%= @task.priority_i18n %></td>
          <td class="status"><%= @task.status_i18n %></td>
          <td class="creation_date"><%= show_date_time_s(@task.creation_date) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <%= link_to I18n.t('tasks.footer.index'), tasks_path %>
</div>
