<% content_for(:title, '詳細') %>
<h1>タスク管理システム：詳細画面</h1>
<hr>
<div id="task_detail">
  <table>
    <!-- テーブルヘッダ -->
    <thead>
      <tr>
        <th class="name">タスク</th>
        <th class="details">詳細</th>
        <th class="deadline">期限</th>
        <th class="priority">優先度</th>
        <th class="status">ステータス</th>
        <th class="creation_date">作成日時</th>
      </tr>
    </thead>

    <!-- テーブルボディ -->
    <tbody>
      <tr>
        <td class="name"><%= @task.name %></td>
        <td class="details"><%= @task.details %></td>
        <td class="deadline"><%= l @task.deadline %></td>
        <td class="priority"><%= @task.priority_i18n %></td>
        <td class="status"><%= @task.status_i18n %></td>
        <td class="creation_date"><%= l @task.creation_date %></td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<a href="/tasks">一覧画面へ</a><br>
