<h1><%= t('.login') %></h1>
<%= form_for(:session, url: login_path) do |f| %>
<div>
  <div>
    <div><%= f.label 'メールアドレス', class: 'col-form-label' %></div>
    <div><%= f.text_field :email, class: 'form-control', id: 'email' %></div>
  </div>
  <div>
    <div><%= f.label t('.password'), class: 'col-form-label' %></div>
    <div><%= f.password_field :password, class: 'form-control', id: 'password' %></div>
  </div>
  <div><%= f.submit t('.login'), class: 'btn btn-primary mt-2' %></div>
  <p><%= t('.registration_message') %><%= link_to t('.here'), new_user_path %></p>
</div>
<% end %>
