<h1>Login</h1>
<%= form_for(:session, url: login_path) do |f| %>
<div>
  <div>
    <div><%= f.label :email, class: 'col-form-label' %></div>
    <div><%= f.text_field :email, class: 'form-control' %></div>
  </div>
  <div>
    <div><%= f.label :password, class: 'col-form-label' %></div>
    <div><%= f.password_field :password, class: 'form-control' %></div>
  </div>
  <div><%= f.submit 'ログイン', class: 'btn btn-primary mt-2' %></div>
  <p>新規登録の方は<%= link_to t('.here'), new_user_path %></p>
</div>
<% end %>
