<h1><%= t '.title' %></h1>

<%= link_to t('.new_task'), new_task_path %>

<%= render 'search_form' %>

<table>
  <tr>
    <th><%= Task.human_attribute_name(:title) %></th>
    <th><%= Task.human_attribute_name(:description) %></th>
    <th><%= Task.human_attribute_name(:priority) %></th>
    <th><%= Task.human_attribute_name(:status) %></th>
    <th><%= Task.human_attribute_name(:due_date) %></th>
    <th><%= Task.human_attribute_name(:created_at) %></th>
    <th><%= Task.human_attribute_name(:updated_at) %></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.description %></td>
      <td><%= task.priority_i18n %></td>
      <td><%= task.status_i18n %></td>
      <td><%= task.due_date.presence && l(task.due_date, format: :short) %></td>
      <td><%= l task.created_at, format: :long %></td>
      <td><%= l task.updated_at, format: :long %></td>
      <td>
        <%= link_to t('tasks.link.show'), task_path(task) %>
        <%= link_to t('tasks.link.edit'), edit_task_path(task) %>
        <%= link_to t('tasks.link.delete'), task_path(task), method: :delete, data: { confirm: t('tasks.confirm.delete') } %>
      </td>
    </tr>
  <% end %>
</table>
