<h1><%= t '.title' %></h1>

<%= link_to t('.new_task'), new_task_path %>

<table>
  <tr>
    <th>title</th>
    <th>description</th>
    <th>priority</th>
    <th>status</th>
    <th>due_date</th>
    <th>created_at</th>
    <th>updated_at</th>
    <th>actions</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.description %></td>
      <td><%= task.priority %></td>
      <td><%= task.status %></td>
      <td><%= task.due_date %></td>
      <td><%= l task.created_at, format: :long %></td>
      <td><%= l task.updated_at, format: :long %></td>
      <td>
        <%= link_to t('.show_link'), task_path(task) %>
        <%= link_to t('tasks.edit_link'), edit_task_path(task) %>
        <%= link_to t('tasks.delete_link'), task_path(task), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>
