<h1><%= t '.title', title: @task.title %></h1>

<table>
  <tr>
    <th>title</th>
    <td><%= @task.title %></td>
  </tr>
  <tr>
    <th>description</th>
    <td><%= @task.description %></td>
  </tr>
  <tr>
    <th>priority</th>
    <td><%= @task.priority %></td>
  </tr>
  <tr>
    <th>status</th>
    <td><%= @task.status %></td>
  </tr>
  <tr>
    <th>due_date</th>
    <td><%= l @task.due_date, format: :short %></td>
  </tr>
  <tr>
    <th>created_at</th>
    <td><%= l @task.created_at, format: :long %></td>
  </tr>
  <tr>
    <th>updated_at</th>
    <td><%= l @task.updated_at, format: :long %></td>
  </tr>
  <tr>
    <th>actions</th>
    <td>
      <%= link_to t('tasks.edit_link'), edit_task_path(@task) %>
      <%= link_to t('tasks.delete_link'), task_path(@task), method: :delete %>
    </td>
  </tr>
</table>

<%= link_to t('tasks.back_link'), tasks_path %>
