<h1><%= t '.title', title: @title %></h1>

<table class="table table-striped">
  <tr>
      <th><%= Task.human_attribute_name(:title) %></th>
      <td><%= @task.title %></td>
    </tr>
  <tr>
      <th><%= Task.human_attribute_name(:description) %></th>
      <td><%= @task.description %></td>
    </tr>
  <tr>
    <th><%= Task.human_attribute_name(:priority) %></th>
    <td><%= @task.priority_i18n %></td>
  </tr>
  <tr>
    <th><%= Task.human_attribute_name(:status) %></th>
    <td><%= @task.status_i18n %></td>
  </tr>
  <tr>
    <th><%= Task.human_attribute_name(:due_date) %></th>
    <td><%= l @task.due_date, format: :short %></td>
  </tr>
  <tr>
    <th><%= Task.human_attribute_name(:label) %></th>
    <td>
      <% @task.labels.each do |label| %>
        <span class="badge badge-primary"><%= label.name %></span>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= Task.human_attribute_name(:created_at) %></th>
    <td><%= l @task.created_at, format: :long %></td>
  </tr>
  <tr>
    <th><%= Task.human_attribute_name(:updated_at) %></th>
    <td><%= l @task.updated_at, format: :long %></td>
  </tr>
  <tr>
    <td colspan="2">
      <%= link_to t('tasks.link.edit'), edit_task_path(@task), class: 'btn btn-outline-primary mr-2' %>
      <%= link_to t('tasks.link.delete'), task_path(@task), method: :delete, class: 'btn btn-outline-danger mr-2' %>
      <%= link_to t('tasks.link.back'), tasks_path, class: 'btn btn-outline-dark' %>
    </td>
  </tr>
</table>
